@import "../../Theme.scss";

.exam {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px;
  color: $theme-font;

  .title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }

  .start {
    text-align: center;
  }
 
  .question {
    text-align: center;

    .questionTitle {
      font-size: 24px;
      font-weight: bold;
    }

    .answersList {
      .answer {
        padding: 10px;
        margin: 10px;
        background-color: #21282f;
        border-radius: 5px;
        text-align: left;

        input {
          margin: 5px;
        }
      }
    }

    .next {
      text-align: center;
    }
  }

  .answersDescription {
    width: 100%;
    max-width: 700px;
    text-align: center;

    .answerText {
      padding: 10px;
      margin: 10px;
      background-color: #21282f;
      border-radius: 5px;
      text-align: left;

      .answerIndex {
        font-weight: bold;
        text-align: center;
      }
    }
  }
}

.notFound::before {
  content: 'Тестування не знайдено';
}
