$theme-font: #fff;
$theme-box-shadow: #0a0a0a;

// bgs / border
$theme-background-outer: #111;
$theme-background-inner: #292929;
$theme-background-light: #333;
$theme-border: #272727;

$theme-input-bg: #282828;

// main colors
$theme-accent: #e67bbe;
$theme-accent-dark: #9c5883;